{{define "err"}}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script>
        $(function () {
            let err = "{{.message}}"
            if (err !== "") {
                layer.alert(err)
            }
        })
    </script>

{{end}}