{{ define "head" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Authorization" content="{{.token}}">
        <script src="/static/layui/css/layui.css"></script>
        <script src="/static/layui/layui.all.js"></script>
        <title>UserManager</title>
    </head>

{{ end }}