{{template "head"}}

<body class="text-center">
<div>
    <form class="layui-form" action=""  id="login" method="post" role="form" enctype="application/x-www-form-urlencoded">
        <img class="mb-4" src="/favicon.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="text" name="email" required lay-verify="required" placeholder="input email" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="input password"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="login">立即提交</button>
            </div>
        </div>
    </form>
    <form action="/register" method="get">
        <button class="btn-primary btn" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">© weiring.yang</p>
    </form>
</div>
</body>

<script type="text/javascript">
    layui.use([ 'element', 'jquery', 'laydate', 'form', 'layer'],function() {
        let $ = layui.jQuery;
        let element = layui.element;
        let laydate = layui.laydate;
        let layer = layui.layer
        let form = layui.form;
        //监听提交事件
        form.on('submit(demo1)', function(data){
            //获取请求数据
            let email = data.field.email;
            let password = data.field.password;

            //使用ajax发送请求
            $.ajax({
                url:"http://127.0.0.1:8080/test",
                type:"get",
                data:data.field,
                dataType:"json",
                success:function(data){
                    let res = JSON.parse(data);
                    layer.msg(res.Msg)
                }
            });
            return false;  //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
—